body{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  line-height: 0px;
}

#map_div,
#poem_div{
  overflow-y: scroll;
  overflow-x: hidden;
}

#map_div,
#scroll_div{
  position:absolute;
}

#map_div{
  left: 0px;
  top: 0px;
}

.pos_up{
  top: 0px;
  transition: top 1.4s;
}

.pos_down{
  top: 94%;
  transition: top 1.4s;
}
